name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pull-requests: read # PR'lara yorum yapabilmesi için gerekli

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      # BU KISIM GITHUB SUNUCUSUNUN DOSYALARI GÖRMESİ İÇİN ŞART
      # (Senin bilgisayarına hiçbir şey indirmez, sadece sunucu içinde çalışır)
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # SonarCloud'un geçmişi görmesi için gerekli

      # BURASI DA ANALİZİ BAŞLATIR
      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=baranozc
            -Dsonar.projectKey=baranozc_arxiv-abstract-authenticity
            -Dsonar.sources=.
        
